*{
    box-sizing: border-box;
}

body{
    margin: 4px;
    padding: 4px;
    background-color: azure;
}

.mainBody{
    display: flex;
  
}

.title{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}